.nav_bar{
  background: rgba(250, 250, 250, 1);
  height: 5vh;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 0
  top: 0;
  right: 0;
  left: 0;
}
.menu a{
  color: black;
  font-size: 20px;
  list-style: none;
  margin-right: 70px;
}
.menu a:hover {
  font-size: 23px;
}
.cart a{
  color: black;
  font-size: 20px;
  margin-right: 8vh;
}
.cart a:hover{
  font-size: 23px;
}
